<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.innovation.platform.system.mapper.InsuranceHistoryRecordsMapper">
    
    <resultMap type="InsuranceHistoryRecords" id="InsuranceHistoryRecordsResult">
        <result property="id"    column="id"    />
        <result property="appKey"    column="app_key"    />
        <result property="channel"    column="channel"    />
        <result property="requestTime"    column="request_time"    />
        <result property="sign"    column="sign"    />
        <result property="apiCode"    column="api_code"    />
        <result property="mchId"    column="mch_id"    />
        <result property="spBillno"    column="sp_billno"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="age"    column="age"    />
        <result property="birth"    column="birth"    />
        <result property="mobile"    column="mobile"    />
        <result property="clientIp"    column="client_ip"    />
        <result property="clientCity"    column="client_city"    />
        <result property="media"    column="media"    />
        <result property="userAgent"    column="user_agent"    />
        <result property="userCard"    column="user_card"    />
        <result property="hadCredit"    column="had_credit"    />
        <result property="applyCredit"    column="apply_credit"    />
        <result property="referer"    column="referer"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="result"    column="result"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectInsuranceHistoryRecordsVo">
        select id, app_key, channel, request_time, sign, api_code, mch_id, sp_billno, name, sex, age, birth, mobile, client_ip, client_city, media, user_agent, user_card, had_credit, apply_credit, referer, remark, status, result, create_time, update_time from tb_insurance_history_records
    </sql>
	
    <select id="selectInsuranceHistoryRecordsList" parameterType="InsuranceHistoryRecords" resultMap="InsuranceHistoryRecordsResult">
        <include refid="selectInsuranceHistoryRecordsVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="appKey != null  and appKey != '' "> and app_key = #{appKey}</if>
             <if test="channel != null  and channel != '' "> and channel = #{channel}</if>
             <if test="requestTime != null  and requestTime != '' "> and request_time = #{requestTime}</if>
             <if test="sign != null  and sign != '' "> and sign = #{sign}</if>
             <if test="apiCode != null  and apiCode != '' "> and api_code = #{apiCode}</if>
             <if test="mchId != null  and mchId != '' "> and mch_id = #{mchId}</if>
             <if test="spBillno != null  and spBillno != '' "> and sp_billno = #{spBillno}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="sex != null  and sex != '' "> and sex = #{sex}</if>
             <if test="age != null  and age != '' "> and age = #{age}</if>
             <if test="birth != null  and birth != '' "> and birth = #{birth}</if>
             <if test="mobile != null  and mobile != '' "> and mobile = #{mobile}</if>
             <if test="clientIp != null  and clientIp != '' "> and client_ip = #{clientIp}</if>
             <if test="clientCity != null  and clientCity != '' "> and client_city = #{clientCity}</if>
             <if test="media != null  and media != '' "> and media = #{media}</if>
             <if test="userAgent != null  and userAgent != '' "> and user_agent = #{userAgent}</if>
             <if test="userCard != null  and userCard != '' "> and user_card = #{userCard}</if>
             <if test="hadCredit != null  and hadCredit != '' "> and had_credit = #{hadCredit}</if>
             <if test="applyCredit != null  and applyCredit != '' "> and apply_credit = #{applyCredit}</if>
             <if test="referer != null  and referer != '' "> and referer = #{referer}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="result != null  and result != '' "> and result = #{result}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and DATE_FORMAT(update_time,'%Y-%m-%d') = DATE_FORMAT(#{updateTime},'%Y-%m-%d')</if>
         </where>
    </select>
    
    <select id="selectInsuranceHistoryRecordsById" parameterType="Integer" resultMap="InsuranceHistoryRecordsResult">
        <include refid="selectInsuranceHistoryRecordsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInsuranceHistoryRecords" parameterType="InsuranceHistoryRecords">
        insert into tb_insurance_history_records
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="appKey != null  and appKey != ''  ">app_key,</if>
			<if test="channel != null  and channel != ''  ">channel,</if>
			<if test="requestTime != null  and requestTime != ''  ">request_time,</if>
			<if test="sign != null  and sign != ''  ">sign,</if>
			<if test="apiCode != null  and apiCode != ''  ">api_code,</if>
			<if test="mchId != null  and mchId != ''  ">mch_id,</if>
			<if test="spBillno != null  and spBillno != ''  ">sp_billno,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="sex != null  and sex != ''  ">sex,</if>
			<if test="age != null  and age != ''  ">age,</if>
			<if test="birth != null  and birth != ''  ">birth,</if>
			<if test="mobile != null  and mobile != ''  ">mobile,</if>
			<if test="clientIp != null  and clientIp != ''  ">client_ip,</if>
			<if test="clientCity != null  and clientCity != ''  ">client_city,</if>
			<if test="media != null  and media != ''  ">media,</if>
			<if test="userAgent != null  and userAgent != ''  ">user_agent,</if>
			<if test="userCard != null  and userCard != ''  ">user_card,</if>
			<if test="hadCredit != null  and hadCredit != ''  ">had_credit,</if>
			<if test="applyCredit != null  and applyCredit != ''  ">apply_credit,</if>
			<if test="referer != null  and referer != ''  ">referer,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="result != null  and result != ''  ">result,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="appKey != null  and appKey != ''  ">#{appKey},</if>
			<if test="channel != null  and channel != ''  ">#{channel},</if>
			<if test="requestTime != null  and requestTime != ''  ">#{requestTime},</if>
			<if test="sign != null  and sign != ''  ">#{sign},</if>
			<if test="apiCode != null  and apiCode != ''  ">#{apiCode},</if>
			<if test="mchId != null  and mchId != ''  ">#{mchId},</if>
			<if test="spBillno != null  and spBillno != ''  ">#{spBillno},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="sex != null  and sex != ''  ">#{sex},</if>
			<if test="age != null  and age != ''  ">#{age},</if>
			<if test="birth != null  and birth != ''  ">#{birth},</if>
			<if test="mobile != null  and mobile != ''  ">#{mobile},</if>
			<if test="clientIp != null  and clientIp != ''  ">#{clientIp},</if>
			<if test="clientCity != null  and clientCity != ''  ">#{clientCity},</if>
			<if test="media != null  and media != ''  ">#{media},</if>
			<if test="userAgent != null  and userAgent != ''  ">#{userAgent},</if>
			<if test="userCard != null  and userCard != ''  ">#{userCard},</if>
			<if test="hadCredit != null  and hadCredit != ''  ">#{hadCredit},</if>
			<if test="applyCredit != null  and applyCredit != ''  ">#{applyCredit},</if>
			<if test="referer != null  and referer != ''  ">#{referer},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="result != null  and result != ''  ">#{result},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateInsuranceHistoryRecords" parameterType="InsuranceHistoryRecords">
        update tb_insurance_history_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="appKey != null  and appKey != ''  ">app_key = #{appKey},</if>
            <if test="channel != null  and channel != ''  ">channel = #{channel},</if>
            <if test="requestTime != null  and requestTime != ''  ">request_time = #{requestTime},</if>
            <if test="sign != null  and sign != ''  ">sign = #{sign},</if>
            <if test="apiCode != null  and apiCode != ''  ">api_code = #{apiCode},</if>
            <if test="mchId != null  and mchId != ''  ">mch_id = #{mchId},</if>
            <if test="spBillno != null  and spBillno != ''  ">sp_billno = #{spBillno},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="sex != null  and sex != ''  ">sex = #{sex},</if>
            <if test="age != null  and age != ''  ">age = #{age},</if>
            <if test="birth != null  and birth != ''  ">birth = #{birth},</if>
            <if test="mobile != null  and mobile != ''  ">mobile = #{mobile},</if>
            <if test="clientIp != null  and clientIp != ''  ">client_ip = #{clientIp},</if>
            <if test="clientCity != null  and clientCity != ''  ">client_city = #{clientCity},</if>
            <if test="media != null  and media != ''  ">media = #{media},</if>
            <if test="userAgent != null  and userAgent != ''  ">user_agent = #{userAgent},</if>
            <if test="userCard != null  and userCard != ''  ">user_card = #{userCard},</if>
            <if test="hadCredit != null  and hadCredit != ''  ">had_credit = #{hadCredit},</if>
            <if test="applyCredit != null  and applyCredit != ''  ">apply_credit = #{applyCredit},</if>
            <if test="referer != null  and referer != ''  ">referer = #{referer},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="result != null  and result != ''  ">result = #{result},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteInsuranceHistoryRecordsById" parameterType="Integer">
        delete from tb_insurance_history_records where id = #{id}
    </delete>
	
    <delete id="deleteInsuranceHistoryRecordsByIds" parameterType="String">
        delete from tb_insurance_history_records where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>