<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="innovation-platform-gateway" />

	<!-- 使用zookeeper注册中心暴露发现服务地址 -->
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />

	<!-- 创新平台应用注册服务 -->
	<dubbo:reference id="applicationRegisterInfoService" interface="cn.innovation.platform.upms.service.IApplicationRegisterInfoService" check="false" />
	
	<!-- 应用注册信息 -->
	<dubbo:reference id="appInfoService" interface="cn.innovation.platform.upms.service.ITbAppInfoService" check="false" />
	
	<!-- 保险服务 -->
	<dubbo:reference id="insuranceDamdataRecordsService" interface="cn.innovation.platform.insurance.service.ITbInsuranceDamdataRecordsService" check="false" />
	
		
</beans>
