<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.innovation.platform.insurance.mapper.TbInsuranceDamdataRecordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.innovation.platform.insurance.common.model.TbInsuranceDamdataRecords">
        <id column="id" property="id" />
        <result column="record_id" property="recordId" />
        <result column="app_key" property="appKey" />
        <result column="channel" property="channel" />
        <result column="request_time" property="requestTime" />
        <result column="sign" property="sign" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="birth_day" property="birthDay" />
        <result column="mobile" property="mobile" />
        <result column="age" property="age" />
        <result column="referer" property="referer" />
        <result column="ip" property="ip" />
        <result column="user_agent" property="userAgent" />
        <result column="had_credit" property="hadCredit" />
        <result column="apply_credit" property="applyCredit" />
        <result column="status" property="status" />
        <result column="result" property="result" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, record_id AS recordId, app_key AS appKey, channel, request_time AS requestTime, sign, name, sex, birth_day AS birthDay, mobile, age, referer, ip, user_agent AS userAgent, had_credit AS hadCredit, apply_credit AS applyCredit, status, result, create_time AS createTime, update_time AS updateTime
    </sql>

</mapper>
