<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								渠道：<input type="text" name="channel"/>
							</li>
							<li>
								姓名：<input type="text" name="name"/>
							</li>
							<li>
								号码：<input type="text" name="mobile"/>
							</li>
							<li>
								状态：<select name="status" th:with="type=${@dict.getType('interface_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								平台：<input type="text" name="appKey"/>
							</li>
						
							<li class="select-time">
								<label>时间： </label>
								<input type="text" class="time-input" id="updateTime" placeholder="时间" name="updateTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="insurance:damdata:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('insurance:history:edit')}]];
		var removeFlag = [[${@permission.hasPermi('insurance:history:remove')}]];
		var datas = [[${@dict.getType('interface_status')}]];
		var sexs = [[${@dict.getType('sys_user_sex')}]];
		var prefix = ctx + "insurance/history";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "updateTime",
		        sortOrder: "desc",
		        modalName: "保险申请记录",
		        search: false,
		        showExport: false,
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '数据编号'
		        },
		        {
		            field: 'appKey',
		            title: '平台',
		            sortable: true
		        },
		        {
		            field: 'channel',
		            title: '下游渠道',
		            sortable: true
		        },
		        {
		            field: 'name',
		            title: '姓名',
		            sortable: true
		        },
		        {
		            field: 'mobile',
		            title: '号码',
		            sortable: true
		        },
		        {
		            field: 'sex',
		            title: '性别',
		            sortable: true,
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(sexs, value);
		            }
		        },
		        {
		            field: 'age',
		            title: '年龄',
		            sortable: true
		        },
		        {
		            field: 'userCard',
		            title: '身份证',
		            sortable: true
		        },
		        {
		            field: 'clientIp',
		            title: '用户IP',
		            sortable: true
		        },
		        {
		            field: 'clientProvince',
		            title: '省份',
		            sortable: true
		        },
		        {
		            field: 'clientCity',
		            title: '城市',
		            sortable: true
		        },
		        {
		            field: 'apiCode',
		            title: '上游渠道',
		            sortable: true
		        },
		        {
		            field: 'status',
		            title: '状态',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
		        {
		            field: 'result',
		            title: '接口返回值',
		            sortable: true
		        },
		        {
		            field: 'updateTime',
		            title: '更新时间',
		            sortable: true
		        }]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>