<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.innovation.platform.system.mapper.ApiInfoMapper">
    
    <resultMap type="ApiInfo" id="ApiInfoResult">
        <result property="id"    column="id"    />
        <result property="apiCode"    column="api_code"    />
        <result property="apiName"    column="api_name"    />
        <result property="apiSort"    column="api_sort"    />
        <result property="channelType"    column="channel_type"    />
        <result property="status"    column="status"    />
        <result property="contacts"    column="contacts"    />
        <result property="company"    column="company"    />
        <result property="companyId"    column="company_id"    />
        <result property="mobile"    column="mobile"    />
        <result property="ageLimit"    column="age_limit"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectApiInfoVo">
        select id, api_code, api_name, api_sort, channel_type, status, contacts, company, company_id, mobile, age_limit, create_time, update_time from tb_api_info
    </sql>
	
    <select id="selectApiInfoList" parameterType="ApiInfo" resultMap="ApiInfoResult">
        <include refid="selectApiInfoVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="apiCode != null  and apiCode != '' "> 
              	and api_code like concat('%', #{apiCode}, '%')
             </if>
             <if test="apiName != null  and apiName != '' "> and api_name = #{apiName}</if>
             <if test="apiSort != null "> and api_sort = #{apiSort}</if>
             <if test="channelType != null "> and channel_type = #{channelType}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="contacts != null  and contacts != '' "> and contacts = #{contacts}</if>
             <if test="company != null  and company != '' "> and company = #{company}</if>
             <if test="companyId != null "> and company_id = #{companyId}</if>
             <if test="mobile != null  and mobile != '' "> and mobile = #{mobile}</if>
             <if test="ageLimit != null  and ageLimit != '' "> and age_limit = #{ageLimit}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
          order by api_sort asc
    </select>
    
    <select id="selectApiInfoById" parameterType="Integer" resultMap="ApiInfoResult">
        <include refid="selectApiInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertApiInfo" parameterType="ApiInfo">
        insert into tb_api_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="apiCode != null  and apiCode != ''  ">api_code,</if>
			<if test="apiName != null  and apiName != ''  ">api_name,</if>
			<if test="apiSort != null  ">api_sort,</if>
			<if test="channelType != null  ">channel_type,</if>
			<if test="status != null  ">status,</if>
			<if test="contacts != null  and contacts != ''  ">contacts,</if>
			<if test="company != null  and company != ''  ">company,</if>
			<if test="companyId != null  ">company_id,</if>
			<if test="mobile != null  and mobile != ''  ">mobile,</if>
			<if test="ageLimit != null  and ageLimit != ''  ">age_limit,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="apiCode != null  and apiCode != ''  ">#{apiCode},</if>
			<if test="apiName != null  and apiName != ''  ">#{apiName},</if>
			<if test="apiSort != null  ">#{apiSort},</if>
			<if test="channelType != null  ">#{channelType},</if>
			<if test="status != null  ">#{status},</if>
			<if test="contacts != null  and contacts != ''  ">#{contacts},</if>
			<if test="company != null  and company != ''  ">#{company},</if>
			<if test="companyId != null  ">#{companyId},</if>
			<if test="mobile != null  and mobile != ''  ">#{mobile},</if>
			<if test="ageLimit != null  and ageLimit != ''  ">#{ageLimit},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateApiInfo" parameterType="ApiInfo">
        update tb_api_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="apiCode != null  and apiCode != ''  ">api_code = #{apiCode},</if>
            <if test="apiName != null  and apiName != ''  ">api_name = #{apiName},</if>
            <if test="apiSort != null  ">api_sort = #{apiSort},</if>
            <if test="channelType != null  ">channel_type = #{channelType},</if>
            <if test="status != null  ">status = #{status},</if>
            contacts = #{contacts},
            <if test="company != null  and company != ''  ">company = #{company},</if>
            <if test="companyId != null  ">company_id = #{companyId},</if>
            mobile = #{mobile},
            age_limit = #{ageLimit},
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteApiInfoById" parameterType="Integer">
        delete from tb_api_info where id = #{id}
    </delete>
	
    <delete id="deleteApiInfoByIds" parameterType="String">
        delete from tb_api_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>