<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="innovation-platform-insurance-rpc-service"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>

    <!-- 用dubbo协议在20900端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20881"/>

    <!-- 当ProtocolConfig和ServiceConfig某属性没有配置时,采用此缺省值 -->
    <dubbo:provider timeout="30000" threadpool="fixed" threads="500" accepts="1000"/>
    
    <!-- 平台服务管理 -->
    <dubbo:reference id="apiInfoService" interface="cn.innovation.platform.upms.service.IApiInfoService" check="false" />
    <dubbo:reference id="apiAreaService" interface="cn.innovation.platform.upms.service.IApiAreaService" check="false" />
    <dubbo:reference id="appInfoService" interface="cn.innovation.platform.upms.service.IAppInfoService" check="false" />
    
    <!-- 声明需要暴露的账户服务接口 -->
	<!-- 大坝保险管理 -->
	<dubbo:service interface="cn.innovation.platform.insurance.service.IDamdataRecordsService" retries="0" ref="damdataRecordsService" />
	<!-- 畅思保险管理 -->
	<dubbo:service interface="cn.innovation.platform.insurance.service.IVinsunRecordsService" retries="0" ref="vinsunRecordsService" />
	<!-- 汇总保险管理 -->
	<dubbo:service interface="cn.innovation.platform.insurance.service.IHistoryRecordsService" retries="0" ref="historyRecordsService" />
</beans>